<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
namespace 要写当前 xml 要给哪个接口提供 sql 语句,写哪个接口的全限定名称
一个 xml 文件只给一个接口文件提供 sql
-->
<mapper namespace="com.qianfeng.smartdevices.mapper.RoleMapper">


    <insert id="addRole">
        insert into role (name, remark, status)
        values (#{name}, #{remark}, #{status});
    </insert>
    <update id="updateRole">
        update role
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark},
            </if>
            <if test="status!=null and status!=-100">
                status = #{status},
            </if>
            where id=#{id}
        </set>

    </update>
    <delete id="deleteRole">
        delete
        from role
        where id in
        <foreach collection="rid" open="(" close=")" item="id" separator=",">
            #{rid}
        </foreach>
    </delete>
    <select id="findAllRole" resultType="com.qianfeng.smartdevices.pojo.Role">
        select *
        from role
    </select>


</mapper>