<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
<!--
开启驼峰命名,会将表中的下户线去掉,后面字母大写
-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--    <plugins>-->
<!--        &lt;!&ndash;5.0版本pagehelper &ndash;&gt;-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor">-->
<!--            <property name="helperDialect" value="mysql"/>-->
<!--        </plugin>-->

<!--    </plugins>-->
</configuration>